In [1]:
import os
from dotenv import load_dotenv

path_env = os.path.join('../../../.env')
load_dotenv(path_env, override=True)

path_prj = os.getenv('PATH_PROJECT')

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.2.3'

In [4]:
df = pd.read_csv(f'{path_prj}/data-engineering-zoomcamp/project/ny_taxi/yellow_tripdata_2021-01.csv')

/tmp/ipykernel_25041/1003201681.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'{path_prj}/data-engineering-zoomcamp/project/ny_taxi/yellow_tripdata_2021-01.csv')

In [5]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_nyc', con=engine))

CREATE TABLE yellow_taxi_nyc (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [9]:
df_iter = pd.read_csv(f'{path_prj}/data-engineering-zoomcamp/project/ny_taxi/yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [10]:
df_iter

In [11]:
df = next(df_iter)

In [12]:
df.head(n=0).to_sql('yellow_taxi_data', con=engine, if_exists='replace')

0

In [13]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 2.43 s, sys: 61.2 ms, total: 2.49 s
Wall time: 4.09 s

1000

In [14]:
i = 0
while True:
    i += 1
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    print(f'Inserted chunk {i}')

Inserted chunk 1
Inserted chunk 2
Inserted chunk 3
Inserted chunk 4
Inserted chunk 5
Inserted chunk 6
Inserted chunk 7
Inserted chunk 8
Inserted chunk 9
Inserted chunk 10
Inserted chunk 11

/tmp/ipykernel_25041/2004915567.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted chunk 12
Inserted chunk 13

StopIteration: